[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "funStatTest"]
	path = funStatTest
	url = https://github.com/cran/funStatTest
[submodule "plsgenomics"]
	path = plsgenomics
	url = https://github.com/cran/plsgenomics
